---
import Layout from '../layouts/Layout.astro';
import FileZone from '../components/FileZone.astro';
import AstroHeart from '../components/AstroHeart.astro';
---

<Layout title="Exif-Wiz">
	<main>
	
		<h1>Welcome to <span class="text-gradient">Exif-Wiz</span></h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
    <FileZone />
    <AstroHeart/>
	
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

</style>
